* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #242424;
}
.btn {
    background: #FFBF00;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #242424;
    border: none;
}

/* Header */
header {
    width: 100%;
    max-height: 800px;
    background: url('../img/banner.png') no-repeat center center;
    padding-bottom: 242px;
}
.header-nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
}
.header-nav-logo {
    width: 50%;
}
.header-contacts {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    align-items: center;    
}
.header-contacts-social {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.header-social-link {
    margin-right: 20px;
}
.header-nav-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-link-btn {
    width: 196px;
    height: 40px;
    padding: 10px;
    border: none;
    margin-left: 50px;
}

/* header content */
.header-info {
    margin-top: 242px;
    text-align: center;
}
.header-info-title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #242424;
}
.info-price {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.header-info-description {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.header-info-btn {
    border: none;
    width: 280px;
    height: 45px;
    left: 820px;
    top: 513px;
}

/* Main */
.main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.content-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design-img {
    width: 50%;
}
.design-description {
    width: 50%;
    max-width: 500px;
}
.decorate {
    border-bottom: 10px solid #FFBF00;
}
.design-title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #242424;
}
.design-text {
    margin: 7px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.text-decorate {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;    
    line-height: 18px;
    color: #242424;
    margin: 20px 0;
}

/* Benefits */
.benefits {
    text-align: center;
    margin-top: 120px;
}
.service {
    display: flex;
    justify-content: left;
    align-items: top;
    margin-bottom: 50px;
}
.service-01 {
    grid-area: s01;
}
.service-02 {
    grid-area: s02;
}
.service-03 {
    grid-area: s03;
}
.service-03 {
    grid-area: s03;
}
.service-04 {
    grid-area: s04;
}
.service-05 {
    grid-area: s05;
}
.benefits-lists-services {
    display: grid;
    text-align: left;
    grid-template-areas:
        's01 s02'
        's03 s04'
        's05 s05';
}
.benefits-description {
    margin: 30px 0 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.benefits-btn {
    width: 280px;
    height: 45px;
    border: none;
}

/* Projects */
.projects {
    margin-top: 100px;
    text-align: center;
}
.projects-title {
    margin-bottom: 30px;
}
.projects-description {
    margin-bottom: 50px;
}
.work-visualization, .work-realization {
    width: 50%;
}
.projects-work {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.work-realization-text {
    width: 100%;
    max-width: 150px;
    height: 40px;
    display: block;
    position: relative;
    padding: 10px;
    top: -65px;
    left: 40px;
    z-index: 10;
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #242424;
}

/* Individual style block */
.individual-style {
    text-align: center;
    margin-top: 100px;
}
.individual-style-description {
    margin-bottom: 30px;
}
.individual-style-interior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.individual-style-interior > p{
    max-width: 450px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    text-align: left;
}

/* Work steps */
.work-steps {
    margin-top: 100px;
    text-align: center;
}
.work-steps-description {
    margin-top: 30px;
}
.work-steps-lists {
    display: grid;
    text-align: left;
    grid-template-areas: 'auto auto auto';
    gap: 50px;
}
.step-header {
    margin-top: 30px;
}
.step-title, 
.step-description {
    margin-top: 10px;
}
.work-steps-btn {
    max-width: 240px;
    width: 100%;
    height: 45px;
    padding: auto;
    margin-top: 60px;
}

/* Designer */
.designer-photo {
    width: 30%;
    padding-top: 20px;
}
.designer-info {
    width: 70%;
    margin-left: 100px;
}
.designer {
    margin: 100px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.designer-profile {
    margin-bottom: 30px;
}
.designer-info-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #242424;
    margin-bottom:  30px;
    text-align: left;
}
.designer-icon {
    margin-right: 15px;
    width: 22px;
    height: 22px;
}
.list-decorate {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.designer-info-text {
    margin: 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.designer-info-certs {
    display: flex;
    justify-content: start;
    gap: 30px;
}
/* Tariff */
.design-project-title {
    margin-bottom: 50px;
}
.design-project-tariff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.tariff {
    width: 362px;
    min-height: 720px;
    background: #F5F5F5;
    border: 2px solid #E1E1E1;
    padding: 30px;
    position: relative;
}
.tariff-economy,
.tariff-economy-plus, 
.tariff-extra {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
}
.tariff-price {
    margin-bottom: 35px;
}
.tariff-list {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.tariff-term {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
.tariff-btn {
    width: 280px;
    height: 45px;
    margin-top: 10px;
}
/* Working us */
.working-us {
    margin-top: 100px;
    text-align: center;
}
.working-us-lists {
    margin-top: 60px;
    text-align: left;
    display: grid;
    grid-template-areas: 'auto auto auto';
    gap: 30px;
}
/* Consultation */
.consultation {
    margin-top: 100px;
}
.consultation-title {
    margin-bottom: 50px;
}
.consultation-wrap {
    display: flex;
}
.consultation-list {
    display: flex;
}
.consultation-img {
    margin-right: 30px;
}
.consultation-info-description {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.consultation-list {
    margin-bottom: 15px;
}
.consultation-btn {
    width: 280px;
    height: 45px;
    margin-top: 52px;
}
/* How we work */
.work-process {
    margin-top: 100px;
}
.work-process-title {
    margin-bottom: 60px;
}
.work-process-steps {
    position: relative;
    display: grid;
    text-align: left;
    grid-template-areas: 'auto auto auto auto';
}
.work-process-step {
    position: relative;
    max-width: 260px;
}
.arrow::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 25px;
    top: 0;
    right: -150px;
    width: 100%;
    height: 100%;
    background: url('../icons/arrow.png') no-repeat;
}
/* Partners */
.partners {
    margin-top: 100px;
}
.partners-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}
.partners-slider::before {
    content: '';
    background: url('../icons/arrow-left.png') no-repeat center center;
    width: 30px;
    height: 30px;
}
.partners-slider::after {
    content: '';
    background: url('../icons/arrow-right.png') no-repeat center center;
    width: 30px;
    height: 30px;
}
/* Reviews */
.reviews {
    margin-top: 100px;
    padding: 0;
}
.reviews-info {
    margin-top: 50px;
}
.reviews-project,
.reviews-about {
    margin-left: 30px;
    padding: 0;
    position: relative;
}
.reviews-info {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.reviews-project-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.reviews-project > img {
    margin-bottom: 16px;
}
.reviews-username {
    margin-top: -18px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 55px;
    color: #242424;
}
.reviews-about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.reviews-btn {
    width: 280px;
    height: 45px;
    position: absolute  ;
    bottom: 20px;
}
/* Questions */
.questions {
    margin: 100px 0;
    text-align: center;
}
.contacts {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.contacts-group-call {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
}
.contacts-info {
    margin-bottom: 60px;
}
.contacts-group-call > img {
    margin-right: 30px;
}
.whatsapp, 
.telegram, 
.instagram {
    display: flex;
    align-items: center;
}
.whatsapp-img, 
.tg-img, 
.instagram-img {
    margin-right: 30px;
}

